.face {
  stroke: #999;
  stroke-width: 1px;
}

.hour,
.minute,
.second {
  stroke-linecap: round;
}

.hour {
  stroke: #ddd;
  stroke-width: 5px;
}

.minute {
  stroke: #999;
  stroke-width: 3px;
}

.second {
  stroke: #f55;
  stroke-width: 1px;
}
